In [2]:
import pandas as pd

from pandas import Series, DataFrame

Pandas
======

http://pandas.pydata.org/

https://github.com/pydata/pandas

Python for Data Analysis ( http://shop.oreilly.com/product/0636920023784.do )

Important topics:

- Creating and accessing data structures
  - Series, DataFrame, Panel
- Creating labels (Index, MultiIndex)
- Indexing/slicing data structures
- Data IO
- Numerical computations
- Data alignment
- Missing data handling
- Grouping

##Pandas has data structures for 1-D, 2-D, and 3-D data
- Series (1-D vector data)
- DataFrame (2-D tabular data)
- Panel (3-D data cube)

####Series

In [3]:
values = [1, 2, 3]
labels = ['Cashews', 'Almonds', 'Peanuts']

In [4]:
s = Series(values, labels)
s

Cashews    1
Almonds    2
Peanuts    3
dtype: int64

In [5]:
s.index

Index([u'Cashews', u'Almonds', u'Peanuts'], dtype='object')

In [6]:
s.values

array([1, 2, 3])

In [7]:
type(s.values)

numpy.ndarray

Accessing Series elements

In [8]:
s['Peanuts']

3

In [9]:
s['Almonds']

2

In [10]:
s['Cashews']

1

Series from dicts

In [11]:
labels

['Cashews', 'Almonds', 'Peanuts']

In [12]:
values

[1, 2, 3]

In [13]:
zip(labels, values)

[('Cashews', 1), ('Almonds', 2), ('Peanuts', 3)]

In [14]:
dict(zip(labels, values))

{'Almonds': 2, 'Cashews': 1, 'Peanuts': 3}

In [15]:
d = dict(zip(labels, values))
Series(d)

Almonds    2
Cashews    1
Peanuts    3
dtype: int64

How come the order changed?

####DataFrame

In [16]:
df = DataFrame([[1, 2, 3], 
                [4, 5, 6],
                [7, 8, 9]], 
               index=['a', 'b', 'c'], 
               columns=labels)
df

   Cashews  Almonds  Peanuts
a        1        2        3
b        4        5        6
c        7        8        9

In [17]:
df.index

Index([u'a', u'b', u'c'], dtype='object')

In [18]:
df.columns

Index([u'Cashews', u'Almonds', u'Peanuts'], dtype='object')

In [19]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

Accessing DataFrame components

In [20]:
df['Cashews']

a    1
b    4
c    7
Name: Cashews, dtype: int64

In [21]:
type(df['Cashews'])

pandas.core.series.Series

Columns can be accessed as attributes

In [22]:
df.Cashews

a    1
b    4
c    7
Name: Cashews, dtype: int64

In [23]:
df

   Cashews  Almonds  Peanuts
a        1        2        3
b        4        5        6
c        7        8        9

In [24]:
df.ix['a', :]

Cashews    1
Almonds    2
Peanuts    3
Name: a, dtype: int64

##There are many ways to access the data in pandas objects

In [25]:
s

Cashews    1
Almonds    2
Peanuts    3
dtype: int64

### positional

In [26]:
s[0]

1

In [27]:
s[-1]

3

In [28]:
s[:2]

Cashews    1
Almonds    2
dtype: int64

In [29]:
s[:-1]

Cashews    1
Almonds    2
dtype: int64

### list of labels

In [30]:
s[['Cashews', 'Peanuts']]

Cashews    1
Peanuts    3
dtype: int64

In [31]:
s[0] = 5

s

Cashews    5
Almonds    2
Peanuts    3
dtype: int64

#### Accessing DataFrame via the indexer (.ix)

In [32]:
df

   Cashews  Almonds  Peanuts
a        1        2        3
b        4        5        6
c        7        8        9

Single row using position

In [33]:
df.ix[0]

Cashews    1
Almonds    2
Peanuts    3
Name: a, dtype: int64

### Using label

In [34]:
df.ix['a', :]

Cashews    1
Almonds    2
Peanuts    3
Name: a, dtype: int64

### Single column

In [35]:
df.ix[:, 'Cashews']

a    1
b    4
c    7
Name: Cashews, dtype: int64

### Single element access

In [36]:
df.ix[0, 1]

2

### lists, tuples, slices, arrays, oh my!

In [37]:
df.ix[[0, 1], :-1]

   Cashews  Almonds
a        1        2
b        4        5

### boolean indexing

In [38]:
df.Almonds > 4

a    False
b     True
c     True
Name: Almonds, dtype: bool

In [39]:
df.ix[df.Almonds > 4]

   Cashews  Almonds  Peanuts
b        4        5        6
c        7        8        9

### boolean indexing with a DataFrame

In [40]:
df > 3

  Cashews Almonds Peanuts
a   False   False   False
b    True    True    True
c    True    True    True

In [41]:
df[df > 3]

   Cashews  Almonds  Peanuts
a      NaN      NaN      NaN
b        4        5        6
c        7        8        9

### Mutation can also happen via the indexer as well

In [42]:
df.ix[:, 0] = 1

In [43]:
df.ix['b', :] = Series([6, 1, 5], df.columns)
df

   Cashews  Almonds  Peanuts
a        1        2        3
b        6        1        5
c        1        8        9

### Practical 1:

Create a 4-by-2 DataFrame where
- one column is ['A', 'B', 'A', 'B'] 
- the other is 4 random numbers

Get all entries where the string column is 'A'

Get the entry at position (2, 1)

Get all entries from the numerical column where the string column is not 'A'

In [53]:
d = {'col1': ['A', 'B', 'A', 'B'],
     'col2': np.random.randn(4)}
d

{'col1': ['A', 'B', 'A', 'B'],
 'col2': array([ 0.43205244, -0.3953608 , -0.44977964, -0.44830324])}

In [54]:
df2 = DataFrame(d)
df2

  col1      col2
0    A  0.432052
1    B -0.395361
2    A -0.449780
3    B -0.448303

[4 rows x 2 columns]

In [55]:
df2.ix[df2.col1 == 'A']

  col1      col2
0    A  0.432052
2    A -0.449780

[2 rows x 2 columns]

In [56]:
df2.ix[2, 1]

-0.44977964390967828

In [57]:
df2.ix[df2.col1 != 'A'].col2

1   -0.395361
3   -0.448303
Name: col2, dtype: float64

##Real data comes from files and databases

In [44]:
path = 'A3_mosquito_data.csv'
df = pd.read_csv(path)

In [45]:
df

    year  temperature  rainfall  mosquitos
0   1960           76       191         93
1   1961           73       249        109
2   1962           81       112         73
3   1963           78       113         72
4   1964           81       159         89
5   1965           87       222        109
6   1966           72       103         68
7   1967           77       176         92
8   1968           89       236        114
9   1969           88       283        128
10  1970           89       151         89
11  1971           71       121         72
12  1972           88       267        124
13  1973           85       211        102
14  1974           75       101         67
15  1975           72       173         85
16  1976           74       254        117
17  1977           85       155         90
18  1978           89       158         92
19  1979           86       117         75
20  1980           74       138         75
21  1981           80       153         87
22  1982           72       229        105
23  1983           80       145         82
24  1984           73       203         96
25  1985           74       239        110
26  1986           72       276        118
27  1987           83       261        117
28  1988           89       280        127
29  1989           81       271        121
30  1990           77       188         94
31  1991           80       218        105
32  1992           90       257        120
33  1993           83       211        105
34  1994           77       224        108
35  1995           90       215        110
36  1996           86       247        115
37  1997           71       298        125
38  1998           90       127         81
39  1999           77       123         78
40  2000           76       240        109
41  2001           76       112         72
42  2002           83       212        103
43  2003           80       197        103
44  2004           75       119         75
45  2005           89       260        122
46  2006           78       112         71
47  2007           75       212        103
48  2008           87       186         98
49  2009           79       153         84
50  2010           84       199        101

In [46]:
df.shape

(51, 4)

In [47]:
df.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50], dtype='int64')

In [48]:
df.head()

   year  temperature  rainfall  mosquitos
0  1960           76       191         93
1  1961           73       249        109
2  1962           81       112         73
3  1963           78       113         72
4  1964           81       159         89

The default index isn't very useful

In [51]:
df = pd.read_csv(path, index_col=['year'])
df

      temperature  rainfall  mosquitos
year
1960           76       191         93
1961           73       249        109
1962           81       112         73
1963           78       113         72
1964           81       159         89
1965           87       222        109
1966           72       103         68
1967           77       176         92
1968           89       236        114
1969           88       283        128
1970           89       151         89
1971           71       121         72
1972           88       267        124
1973           85       211        102
1974           75       101         67
1975           72       173         85
1976           74       254        117
1977           85       155         90
1978           89       158         92
1979           86       117         75
1980           74       138         75
1981           80       153         87
1982           72       229        105
1983           80       145         82
1984           73       203         96
1985           74       239        110
1986           72       276        118
1987           83       261        117
1988           89       280        127
1989           81       271        121
1990           77       188         94
1991           80       218        105
1992           90       257        120
1993           83       211        105
1994           77       224        108
1995           90       215        110
1996           86       247        115
1997           71       298        125
1998           90       127         81
1999           77       123         78
2000           76       240        109
2001           76       112         72
2002           83       212        103
2003           80       197        103
2004           75       119         75
2005           89       260        122
2006           78       112         71
2007           75       212        103
2008           87       186         98
2009           79       153         84
2010           84       199        101

In [52]:
df.index[:5]

Int64Index([1960, 1961, 1962, 1963, 1964], dtype='int64')

In [53]:
df.index[0]

1960

read_csv and to_csv are good friends

In [56]:
df.to_csv('tmp.csv')

In [57]:
pd.read_csv('tmp.csv', index_col='year')

      temperature  rainfall  mosquitos
year
1960           76       191         93
1961           73       249        109
1962           81       112         73
1963           78       113         72
1964           81       159         89
1965           87       222        109
1966           72       103         68
1967           77       176         92
1968           89       236        114
1969           88       283        128
1970           89       151         89
1971           71       121         72
1972           88       267        124
1973           85       211        102
1974           75       101         67
1975           72       173         85
1976           74       254        117
1977           85       155         90
1978           89       158         92
1979           86       117         75
1980           74       138         75
1981           80       153         87
1982           72       229        105
1983           80       145         82
1984           73       203         96
1985           74       239        110
1986           72       276        118
1987           83       261        117
1988           89       280        127
1989           81       271        121
1990           77       188         94
1991           80       218        105
1992           90       257        120
1993           83       211        105
1994           77       224        108
1995           90       215        110
1996           86       247        115
1997           71       298        125
1998           90       127         81
1999           77       123         78
2000           76       240        109
2001           76       112         72
2002           83       212        103
2003           80       197        103
2004           75       119         75
2005           89       260        122
2006           78       112         71
2007           75       212        103
2008           87       186         98
2009           79       153         84
2010           84       199        101

### Basic Computations

In [58]:
df

      temperature  rainfall  mosquitos
year
1960           76       191         93
1961           73       249        109
1962           81       112         73
1963           78       113         72
1964           81       159         89
1965           87       222        109
1966           72       103         68
1967           77       176         92
1968           89       236        114
1969           88       283        128
1970           89       151         89
1971           71       121         72
1972           88       267        124
1973           85       211        102
1974           75       101         67
1975           72       173         85
1976           74       254        117
1977           85       155         90
1978           89       158         92
1979           86       117         75
1980           74       138         75
1981           80       153         87
1982           72       229        105
1983           80       145         82
1984           73       203         96
1985           74       239        110
1986           72       276        118
1987           83       261        117
1988           89       280        127
1989           81       271        121
1990           77       188         94
1991           80       218        105
1992           90       257        120
1993           83       211        105
1994           77       224        108
1995           90       215        110
1996           86       247        115
1997           71       298        125
1998           90       127         81
1999           77       123         78
2000           76       240        109
2001           76       112         72
2002           83       212        103
2003           80       197        103
2004           75       119         75
2005           89       260        122
2006           78       112         71
2007           75       212        103
2008           87       186         98
2009           79       153         84
2010           84       199        101

In [59]:
df.index[0]

1960

Summary statistics about this DataFrame

In [ ]:
df.describe()

Each of the summary stats can be computed separately

In [ ]:
df.count()

In [ ]:
df.mean()

In [ ]:
df.std()

In [ ]:
df.min()

In [ ]:
df.max()

In [60]:
df.quantile(0.50)

temperature     80
rainfall       199
mosquitos      101
dtype: float64

In [ ]:
df.median()

#### Compute across a different axes

In [61]:
df.mean(axis=1)

year
1960    120.000000
1961    143.666667
1962     88.666667
1963     87.666667
1964    109.666667
1965    139.333333
1966     81.000000
1967    115.000000
1968    146.333333
1969    166.333333
1970    109.666667
1971     88.000000
1972    159.666667
1973    132.666667
1974     81.000000
1975    110.000000
1976    148.333333
1977    110.000000
1978    113.000000
1979     92.666667
1980     95.666667
1981    106.666667
1982    135.333333
1983    102.333333
1984    124.000000
1985    141.000000
1986    155.333333
1987    153.666667
1988    165.333333
1989    157.666667
1990    119.666667
1991    134.333333
1992    155.666667
1993    133.000000
1994    136.333333
1995    138.333333
1996    149.333333
1997    164.666667
1998     99.333333
1999     92.666667
2000    141.666667
2001     86.666667
2002    132.666667
2003    126.666667
2004     89.666667
2005    157.000000
2006     87.000000
2007    130.000000
2008    123.666667
2009    105.333333
2010    128.000000
Length: 51, dtype: float64

In [62]:
df.ix[:10, :].std(axis=1)

Series([], dtype: float64)

### Arbitrary functions

- `apply` for columnwise operations
- `applymap` for elementwise operations

In [63]:
df.sum()

temperature    4097
rainfall       9857
mosquitos      4980
dtype: int64

In [64]:
df.apply(lambda x: x.sum())

temperature    4097
rainfall       9857
mosquitos      4980
dtype: int64

In [65]:
df.applymap(lambda x: x.sum()).head() # no effect

      temperature  rainfall  mosquitos
year
1960           76       191         93
1961           73       249        109
1962           81       112         73
1963           78       113         72
1964           81       159         89

In [ ]:
df.head()

In [ ]:
df.head().applymap(lambda x: x**2)

#### One of the three R's of education

In [66]:
df.ix[:5]

Empty DataFrame
Columns: [temperature, rainfall, mosquitos]
Index: []

Scalar operations are done element-wise

In [67]:
df.ix[:5] * 10

Empty DataFrame
Columns: [temperature, rainfall, mosquitos]
Index: []

In [ ]:
df.ix[:5] + 100

DataFrame with DataFrame (or Series with Series) is element-by-element

In [68]:
df.ix[:5] - df.ix[:5]

Empty DataFrame
Columns: [temperature, rainfall, mosquitos]
Index: []

### Broadcasting

In [ ]:
means = df.mean()
means

In [ ]:
df.ix[:5] - means

DataFrame with Series means each Series element is applied to each DataFrame column

In [ ]:
result = df - means

result.mean()

The term broadcasting describes how arrays with different shapes are manipulated together in computations. 
Start with the last dimension, two dimensions are compatible for broadcasting if either they are equal or one of them has 1 element

## Basic stats computations

In [ ]:
df.cov()

In [ ]:
df.dot(df.T) # oops, wrong orientation

In [ ]:
df.T.dot(df)

In [ ]:
df.corr()

In [ ]:
df.ix[:5].abs()

In [ ]:
df.kurt()

In [ ]:
ticks.ix[:, :3].head()

### Practical 2:

1. Implement a function that takes a DataFrame and returns a Series of the mean value of each row in the input DataFrame.
2. Implement a function to compute the covariance matrix of a numeric DataFrame (not allowed to use DataFrame.cov :))
3. Allow a user of this function to change whether/how we're adjusting for sample bias
4. Extra credit: is your function robust against NA values?

### Data alignment

In [ ]:
df.ix[:5]

In [ ]:
df.ix[6:11]

In [ ]:
df.ix[:5] + df.ix[6:11]

#### What is df.ix[:5] + df.ix[6:11]?

### Creating lagged/lead data with shift

In [ ]:
df.head()

In [ ]:
df.head().shift()

In [ ]:
df.Price.pct_change()

### reindex

In [ ]:
every_other = df.ix[[0, 1, 2, 5, 7]]
every_other

In [ ]:
missing = every_other.reindex(df.ix[:20].index)
missing

In [ ]:
df = ticks.ix[:, ['Price', 'Volume']]
df

In [ ]:
df = ticks.reindex(columns=['Price', 'Volume'])
df

## Missing Data

In [1]:
missing

NameError: name 'missing' is not defined

#### Pandas NA handling is intrinsic

In [ ]:
missing.mean()

In [ ]:
missing.values

In [ ]:
missing.values.mean(axis=0)

#### We can fill NAs

In [ ]:
missing.Price

In [ ]:
missing.Price.fillna(method='ffill')

In [ ]:
missing.Price.fillna(method='bfill')

In [ ]:
missing.Price.fillna(method='ffill', limit=3)

Does the filling method matter? How? Which is appropriate for this data? for your data?

We can fill using constant values

In [ ]:
missing.Price.fillna(missing.Price.mean())

We can interpolate

In [ ]:
missing.Price.interpolate()

In [ ]:
missing.apply(Series.interpolate)

We can ignore NAs

In [ ]:
missing.dropna()

## Groupby

Let's read in the data again without combining columns

In [ ]:
ticks = pd.read_csv(path, parse_dates=['Date'])
ticks

In [ ]:
df = ticks.ix[:, ['Price', 'Volume']]
df

In [ ]:
df['Returns'] = df.Price.pct_change()

In [ ]:
grouped = df.groupby(ticks.Date)
grouped

In [ ]:
grouped.Returns.mean()

In [ ]:
grouped.Volume.sum()

In [ ]:
grouped.Price.std()

In [ ]:
columns = ['person', 'country', 'variable1', 'variable2']
observations = [
    ['john', 'USA', 12, 50],
    ['hans', 'USA', 58, 1],
    ['eve', 'Canada', 918, 345],
    ['jimmy', 'Canada', 123, 4],
    ['lisa', 'USA', np.nan, 5],
    ['jill', 'Canada', 13, np.nan]
]
df = DataFrame(observations, columns=columns)

### Custom aggregations

Compounded returns

In [ ]:
grouped.Returns.agg(lambda x: (1 + x).prod() - 1)

Daily volume weighted average price

In [ ]:
grouped.agg(lambda x: (x.Price * x.Volume).sum() / x.Volume.sum())

Daily percent change in price

In [ ]:
grouped.agg(lambda x: x.irow(-1) / x.irow(0) - 1)

We could also have used first and last

In [ ]:
grouped.last() / grouped.first() - 1

Difference here is that first/last gets the first/last non-na element

### Non-aggregating Manipulations

In [ ]:
rs = grouped.transform(lambda x: (x - x.mean()) / x.std())
rs

In [ ]:
rs.min()

In [ ]:
rs.max()

In [ ]:
rs.mean()

In [ ]:
rs.std()

In [ ]:
ticks

In [ ]:
df = ticks.ix[:, ['Date', 'Time', 'Price', 'Volume']]
df

In [ ]:
df = df.set_index(['Date', 'Time'])
df

In [ ]:
rets = df.Price / df.Price.shift(5) - 1
rets

In [ ]:
grouped = df.groupby(level=0)
rs = grouped.transform(lambda x: (x / x.shift(5) - 1).cumsum())
returns = rs.Price
returns

### Practical 3

Implement function that:

- takes in a DataFrame with intraday data and a mapping for dates
- compute the raw 2nd moment for each day

In [ ]:
def raw_var(df, dates):
    return df.groupby(dates).agg(lambda x: (x**2).sum() / (x.count() - 1))

In [ ]:
raw_var(df, ticks.Date)

Are student solutions robust to NAs?